 body{background-color:skyblue;} 
h1,h2,h3{ text-align:center;} 
h1{color:green;} 
h2{color:Purple;} 
h3{color:Yellow;}
#wrapper{width:80%;
         margin:auto;
         background-color:GoldenRod;
         box-shadow:10px 30px grey;}
div{width:90%; 
    margin:auto;}
{ border:5px solid deeppink;
      border-radius: 10%;}
  ul {
     list-style-type: none;
     margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: cornflowerblue;
}
li {
   float: left;
}
li a {
   display: block;
   color: greenyellow;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}
